<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Table - Brand</title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Contact-Form-Clean.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Highlight-Blue.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-Clean.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Registration-Form-with-Photo.css') }}">
    </head>

<body class="bg-gradient-primary">
    <div class="contact-clean">
        <form action="/{{ curr_event.id }}/registerattendee" autocomplete="off" method="POST">
            <h2 class="text-center">Sign Up As Attendee</h2>
            <div class="form-group"><input class="form-control" type="text" name="attendee-name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control" type="email" name="attendee-email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="text" name="attendee-company" placeholder="Company"></div>
            <div class="form-group"><input class="form-control" type="text" name="attendee-experience" placeholder="Work Experience (in years)"></div>
            <div class="form-group"><input class="form-control" type="text" name="attendee-role" placeholder="Enter Role in Company (e.g. Consultant, Engineer, Manager)"></div>
            <legend>Choose Sector</legend>
            <div class="form-group">
                
                <div class="col-sm-12">
                  <input type="checkbox" name="attendee-sector" value = "Technology">   Technology
                </div>
                <div class="col-sm-12">
                  <input type="checkbox" name="attendee-sector" value = "General Management">   General Management
                </div>
                <div class="col-sm-12">
                  <input type="checkbox" name="attendee-sector" value="Consulting">  Consulting
                </div>
                <div class="col-sm-12">
                    <input type="checkbox" name="attendee-sector" value="Health and Food">  Health and Food
                  </div>
                  <div class="col-sm-12">
                    <input type="checkbox" name="attendee-sector" value="Finance">  Finance
                  </div>
                  <div class="col-sm-12">
                    <input type="checkbox" name="attendee-sector" value="Finance">  Other
                  </div>
          </div>
          <div class="form-group"><textarea class="form-control" name="attendee-description" placeholder="Enter Description" rows="14"></textarea></div>
          <div class="form-group"><button class="btn btn-primary" type="submit">Generate Keywords&nbsp;</button></div>
          <div class="form-group autocomplete"><input id="myInput" class="form-control" type="text" name="myCountry" placeholder="Matching Keywords Appear Here"></div>
          
         

        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
</body>

</html>